{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello</h1>

    {{ component('SimpleCardComponent', {
        id: 1
    }) }}

    {{ component('SimpleCardComponent', {
        id: 1
    }) }}

    {{ component('SimpleCardComponent', {
        id: 1
    }) }}

    {{ component('SimpleCardComponent', {
        id: 1
    }) }}

    {{ component('SimpleCardComponent', {
        id: 1
    }) }}

    {{ component('SimpleCardComponent', {
        id: 1
    }) }}

{% endblock %}
